**

!.dockerignore
!manage.py
!requirements.txt
!requirements/
!requirements/**

!backend/
!backend/**
!apps/
!apps/**
!tools/
!tools/**

!deploy/
!deploy/**
!allure/
!allure/**

!frontend/
!frontend/**
frontend/node_modules
frontend/dist
!frontend/dist/
!frontend/dist/**

!tester.md
!tester_pro.md
!requirement_writer.md
!requirement_reviewer.md
!document_requirement_writer.md
!document_testcase_writer.md
